@media only screen and (max-width:991px) {
    .txt-overlay-desc {
        font-family: ralewaybold;
        font-weight: 600;
        font-size: 2em;
        position: absolute;
        top: 40%;
        left: 5%;
    }

    .txt-overlay-tagline {
        font-family: satisfy;
        font-size: 3em;
        position: absolute;
        top: 25%;
        left: 5%;
        color: rgb(232, 14, 138);
    }

    .carousel-overlay {
        width: 100%;
        height: auto;
        max-height: 200px;
        position: absolute;
        border: transparent;
        top: 10%;
    }

    .btn-lg {
        position: absolute;
        color: #ffffff;
        background-color: rgb(247, 4, 161);
        padding-left: 3em;
        padding-right: 3em;
        border-color: transparent;
        border-radius: 25px;
        margin-top: 4em;
        top: 45%;
    }
    .event-img{
    object-fit: cover;
    border-radius: 0%;
    width: 100%;
    height: auto;
    max-height: 150px;
    margin: auto;
    margin-top: 20px;
    }
    .modal-content {
    width: 100%;
    }
    .txt-overlay-faq{
    font-family: ralewaybold;
    color: black;
    font-weight: 600;
    font-size: 1.25em;
    position: absolute;
    top: 29%;
    left: 45%;
    height: auto;
    padding-right: 40px;
    }
    
    .btn-lg-event-header {
        top:50%;
}
    }

@media only screen and (max-width:700px) {
    
    .Heading {
        font-size: 4em;
    }
    
    .event-header-text {
        font-size: 3em;
        top:15%;

}
    .hero-text {
        display: none;
    }
    
    .hero-sub-text {
        display: none;
    }

.event-sub-text {
    top: 27%;
    font-size: 2em;
}
        .btn-lg-event-header {
        top:40%;
}
.txt-overlay-desc {
    text-align: left;
    font-size: 1.5em;
    }
}

@media only screen and (max-width:575px) {
    .carousel-overlay {
        width: 100%;
        height: auto;
        max-height: 200px;
        position: absolute;
        border: transparent;
        top: 10%;
        left: 0%;
    }
    .event-img{
    object-fit: cover;
    border-radius: 0%;
    width: 100%;
    height: auto;
    max-height: 150px;
    margin: auto;
    margin-top: 20px;
    }
   .modal-content {
    width: 100%;
  }
    .txt-overlay-faq{
    display: none;
}
    .event-header-text {
    font-size: 2em;
    top:14%;

}
    .event-sub-text {
    top: 25%;
    font-size: 1.2em;
}
    .btn-lg-event-header {
        top:33%;
        width: 50%;
}

.txt-overlay-desc {
        font-size: 1.5em;
        top: 40%;
    }

    .txt-overlay-tagline {
        font-size: 2em;
        top: 25%;
    }

.left-img{
    min-height: 160px;
    max-height: 180px;
    margin: auto;
}
    
    .event-header-text{
        position: relative;
    }
        .event-sub-text{
        position: relative;
            top: 10%;
            padding-bottom: 2em;
    }
    .btn-lg-event-header-page {
    top:62%;
    left: 50%;
    width: 40%;
}
    .speaker-bg {
        min-height: 500px;
        background-position: center center;
    }
    
    .healing-smile-bg{
        min-height: 500px;
        background-position: center center;
    }
    
    .sponsor-bg {
        min-height: 500px;
        background-position: center center;
    }
    .contact-overlay-title-right {
    font-size: 3em;
    padding-top: 100px;
    padding-right: 0px;
    text-align: center;
}

.contact-overlay-desc-right {
    font-family: ralewaybold;
    font-size: 1.5em;
    padding-top: 5px;
    padding-right: 0px;
    text-align: center;
}

}